body{
    width: 600px;
    height: 800px;
    border: 1px solid black ;
    display: flex;
    align-items: center;
    justify-content: center;
      display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;


}

.calculator{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}
button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px grey;
 
}
button:active{
    box-shadow: none;
}   
input{
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: right;  
    border-radius: 10px;
    padding-right: 10px;
}